{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% load static %}
{% load i18n %}

{% block usuario %}
<div class="container mt-5">
    <!-- Login Section -->
    <div class="row reflexion justify-content-center align-items-center border p-4">
        <div class="col-12 col-md-6 login_form">
            <h1 class="text-center h1flor mb-4"></h1>
            
            <!-- Form Start -->
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    <input type="text" name="username" id="username" class="form-control" required />
                </div>
            
                <div class="form-group">
                    <label for="password" class="form-label">{% trans "Password" %}</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                </div>
            
                <!-- Botón alineado a la derecha con margen superior -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-dark">{% trans "Log In" %}</button>
                </div>
            </form>
            
            <!-- Form End -->
        </div>
    </div>
</div>

<!-- Spacer Section -->
<section class="container-fluid py-4">
    <div class="row">
        <div class="col-12 text-center">
            <br/>
        </div>
    </div>
</section>
{% endblock %}
