
{% extends "layout.html" %}
{% load static %}
{% block tienda %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center py-4">
            <h1>Mi tienda</h1>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-light p-4 rounded shadow">
            <!-- Formulario de Carga de Producto -->
            <form action="{% url 'cargar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_producto" class="form-label">Producto:</label>
                    <input type="text" name="producto" class="form-control" maxlength="200" required id="id_producto">
                </div>

                <div class="mb-3">
                    <label for="id_fecha_publicacion" class="form-label">Fecha de publicación:</label>
                    <input type="date" name="fecha_publicacion" class="form-control" required id="id_fecha_publicacion">
                </div>

                <div class="mb-3">
                    <label for="id_imagen" class="form-label">Imagen:</label>
                    <input type="file" name="imagen" class="form-control" accept="image/*" id="id_imagen">
                </div>

                <div class="text-center">
                    <input type="submit" value="Subir Producto" class="btn btn-primary mt-3">
                </div>
            </form>
        </div>

        <div class="col-12 py-5"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.js' %}"></script>    
    <script>
        $("#id_fecha_publicacion").datepicker({
            inline: true
        });
    </script>
{% endblock %}
